*BuiltFiles_*.txt
*CopiedFiles_*.txt
*DeployedFiles_*.txt
*.TDS.*/Package_*
*.TDS.*/QA-*/
*.TDS.*/INT-*/
*.TDS.*/Debug/
*.TDS.*/Release/
*.TDS.*/PROD*/
*.TDS.*/Sandbox/
*.TDS.*/CI/
*.TDS.*/IconCache/
/sandbox/*
*.user
*.suo
bin/
obj/
/packages/
_NCrunch*/
license.xml
.idea/
/*.Web/Areas/*/css/*.css
/*.Web/Areas/*/css/*.map
.vs/
Libs/Sitecore/
sandbox2/
