*BuiltFiles_*.txt
*CopiedFiles_*.txt
*DeployedFiles_*.txt
/sandbox/*
*.user
*.suo
bin/
obj/
/packages/
_NCrunch*/
license.xml
.idea/
/*.Web/Areas/*/css/*.css
/*.Web/Areas/*/css/*.map
.vs/
Libs/Sitecore/

