@model ClearAllModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="clear-all-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.clearAll({
                container: '#clear-all-@Model.Rendering.UniqueId',
                templates: {
                    @Model.LinkTemplate
                },
                @Model.CssClasses
                @Model.AutoHideContainer
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Auto Hide Container:</label>
        @Html.Sitecore().Field("Auto Hide Container", new {Display = "Checkbox"})
    </div>
}



