@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="clear-all-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.clearAll({
                container: '#clear-all-@Model.Rendering.UniqueId',
                templates: {
                    link: @Model.Item.GetFieldDecodedRawValue("Link Template")
                },
                autoHideContainer: true
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Link Template:</label>
        @Html.Sitecore().Field("Link Template")
    </div>
    <div class="form-group">
        <label>Auto Hide Container:</label>
        @Html.Sitecore().Field("Auto Hide Container")
    </div>
}



