@model HierarchicalMenuModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="hierarchical-categories-@Model.Rendering.UniqueId"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.hierarchicalMenu({
                container: '#hierarchical-categories-@Model.Rendering.UniqueId',
                attributes: [@Model.Item.NameValuesToAttributes("Attributes")],
                sortBy: ['@Html.Sitecore().Field("Sort By")'],
                templates: {
                    item: @Model.Item.GetFieldDecodedRawValue("Item Template"),
                    header: @Model.Item.GetFieldDecodedRawValue("Header Template")
                }
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Sort By:</label>
        @Html.Sitecore().Field("Sort By")
    </div>
}



