@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="hits-per-page-selector-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.hitsPerPageSelector({
                container: '#hits-per-page-selector-@Model.Rendering.UniqueId',
                options: [
                   @Model.Item.NameValuesToOptions("Options")
                ]
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Options:</label>
        @Html.Sitecore().Field("Options")
    </div>
}



