@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="hits-per-page-selector-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.hitsPerPageSelector({
                container: '#hits-per-page-selector-@Model.Rendering.UniqueId',
                options: [
                    { value: 8, label: '8 per page' },
                    { value: 16, label: '16 per page' },
                    { value: 32, label: '32 per page' }
                ]
            })
        );
    </script>
}
else
{
    <select class="ais-hits-per-page-selector">
        <option selected="" class="ais-hits-per-page-selector--item" value="6">
            6 per page
        </option>
        <option class="ais-hits-per-page-selector--item" value="12">
            12 per page
        </option>
        <option class="ais-hits-per-page-selector--item" value="24">
            24 per page
        </option>
    </select>
}



