@model AlgoliaUI.Code.Models.HitsModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <main id="hits-container-@Model.Rendering.UniqueId"></main>
    <script>
        search.addWidget(
            instantsearch.widgets.hits({
                container: '#hits-container-@Model.Rendering.UniqueId',
                templates: {
                    @Model.EmptyTemplate
                    @Model.ItemTemplate
                },
                @Model.HitsPerPage
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Hits Per Page:</label>
        @Html.Sitecore().Field("Hits Per Page")
    </div>
}



