@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="numeric-selector-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.numericSelector({
                container: '#numeric-selector-@Model.Rendering.UniqueId',
                attributeName: '@Html.Sitecore().Field("Attribute Name")',
                operator: '>=',
                options: [
                    @Model.Item.NameValuesToOptions("Options")
                    //{ label: '1 guest', value: 1 },
                    //{ label: '2 guests', value: 2 },
                    //{ label: '3 guests', value: 3 },
                    //{ label: '4 guests', value: 4 },
                    //{ label: '5 guests', value: 5 },
                    //{ label: '6 guests', value: 6 }
                ]
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
}



