@model NumericSelectorModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="numeric-selector-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.numericSelector({
                container: '#numeric-selector-@Model.Rendering.UniqueId',
                attributeName: '@Html.Sitecore().Field("Attribute Name")',
                operator: '@Model.Operator',
                options: [
                    @Model.Options
                ]
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
}



