@model PriceRangesModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="prices-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.priceRanges({
                container: '#prices-@Model.Rendering.UniqueId',
                @Model.AttributeName
                @Model.CssClasses
                templates: {
                    @Model.HeaderTemplate
                }
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Attribute Name:</label>
        @Html.Sitecore().Field("Attribute Name")
    </div>
}



