@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="refinement-list-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        var facetTemplateCheckbox =
  '<a href="javascript:void(0);" class="facet-item">' +
    '<input type="checkbox" class="{{cssClasses.checkbox}}" value="{{name}}" {{#isRefined}}checked{{/isRefined}} />{{name}}' +
    '<span class="facet-count">({{count}})</span>' +
  '</a>';

        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#refinement-list-@Model.Rendering.UniqueId',
                attributeName: 'materials',
                operator: 'or',
                limit: 10,
                templates: {
                    item: facetTemplateCheckbox,
                    header: '<div class="facet-title">Materials</div class="facet-title">'
                }
            })
        );
    </script>
}
else
{
    <div class="ais-root ais-stats">
        <div class="ais-body ais-stats--body">
            <div>
                10,000 results
                <span class="ais-stats--time">
                    found in 1ms
                </span>
            </div>
        </div>
    </div>
}



