@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="q-@Model.Rendering.UniqueId" class="text-muted"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.searchBox({
                container: '#q-@Model.Rendering.UniqueId',
                placeholder: '@Html.Sitecore().Field("Placeholder")',
                autofocus: true
            })
        );
    </script>
}
else
{
    <div class="ais-search-box">
        <input autocapitalize="off" autocomplete="off" autocorrect="off" placeholder='@Html.Sitecore().Field("Placeholder")' role="textbox" spellcheck="false" type="text" value="" class="ais-search-box--input">
    </div>
    <div class="form-group">
        <label>Placeholder:</label>
        @Html.Sitecore().Field("Placeholder")
    </div>
    <div class="form-group">
        <label>Autofocus:</label>
        @Html.Sitecore().Field("Autofocus")
    </div>
}



