@model RenderingModel

@if (!Sitecore.Context.PageMode.IsPageEditorEditing)
{
    <div id="sort-by-container-@Model.Rendering.UniqueId"></div>
    <script>
        search.addWidget(
            instantsearch.widgets.sortBySelector({
                container: '#sort-by-container-@Model.Rendering.UniqueId',
                indices: [
                    @Model.Item.NameValuesToIndices("Indeces")
                ],
                label: '@Html.Sitecore().Field("Label")'
            })
        );
    </script>
}
else
{
    <div class="form-group">
        <label>Label:</label>
        @Html.Sitecore().Field("Label")
    </div>
}



